*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #141414;
    color: #ffffff;
}

a,
a:hover,
a:visited {
    color: #1ebed6;
    text-decoration: none;
    font-weight: 600;
}
